<VirtualHost *:80>
    ServerName {{ http_host }}
    ServerAdmin {{ domain_email }}

    ProxyPass / http://localhost:5000/
    ProxyPassReverse / http://localhost:5000/
    ProxyRequests Off
</VirtualHost>
