# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\POEC\fil-rouge-aston\Dev\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
